<table>	
	<tr>
		<td>
			<td colspan="2">
				<h3>Datos de Autor</h3>
			</td>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/me.png">
		</td>
	</tr>
	<tr>
		<td>Nombre:</td>
		<td>Omar Munguia Rivera</td>
	</tr>
	<tr>
		<td>Carrera:</td>
		<td>Ing. en Sistemas Computacionales</td>
	</tr>
	<tr>
		<td>País:</td>
		<td>México</td>
	</tr>
</table>